{% load static%}
<div class="c-prize-outer">
    <div class="c-prize-slider c-template-dotprimary">
        <div class="owl-carousel js-prize-slider">{% for x in myAward %}
            <div class="c-prize-item">
                <div class="c-prize-item__inner">
                    <div class="c-prize-item__thumb"><img src="/media/{{ x.img }}" alt="prize"></div>
                    <div class="c-prize-item__title">{{x.title}}</div>
                    <div class="c-prize-item__desc">{{x.description}}</div>
                    <div class="c-prize-item__more"><a href="{{x.Detail}}">Xem chi tiết<i class="icon-arrow-right-blue"></i></a></div>
                </div>
            </div>{% endfor %}  
        </div>
    </div>
    {% include 'partials/_register.html'%}
  <!--end container-->
</div>