{% for x in myCertificate %}
<div class="c-block c-eaf-block">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label">Chứng nhận</span>
            chất lượng quốc tế: EAF / WEF
          </div>
        </div>
        <div class="c-box__content">
          <div class="c-eaf">
            <div class="c-eaf__left">
              <div class="c-eaf__img"><img src="../media/{{ x.img }}" alt="eaf"></div>
              <div class="c-eaf__count">
                <label><span>{{ x.point }}</span>/100</label>
                <p>điểm đạt chuẩn quốc tế chất lượng cao</p>
              </div>
            </div>
            <div class="c-eaf__right">
              <div class="c-eaf__title">{{ x.title|safe }}
              </div>
              <div class="b-maincontent">{{ x.maincontent|safe }}
                <div class="c-eaf__intro"><img src="../media/{{x.logo}}" alt="eaf">
                  <p>{{ x.intro|safe }}</p>
                </div>{{ x.subcontent|safe }}
              </div>
            </div>
          </div>{% include 'partials/_register.html'%}
        </div>
        <!--end c-box-content-->
      </div>
      <!--end c-box-->
    </div>
    <!--end container-->
  </div>
  {% endfor %}