{% load static %}
<div class="c-block is-small-bottom">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label">Khoá học</span>
            công nghệ
          </div>
        </div>
        <div class="c-box__content">
          <div class="c-course-card-grid">
            {% if myCourse or myCourse2%}
            <ul>{% for x in myCourse %}
                <li>
                  <div class="c-course-card">
                    <div class="c-course-card__thumb"><a href="#"><img src="/media/{{ x.img }}" alt="course"><span class="c-course-card__price">{{ x.price}}<sup>đ</sup></span></a></div>
                    <div class="c-course-card__content">
                      <div class="c-course-card__row">
                        <h3 class="c-course-card__title"><a href="#">{{x.title}}</a></h3>
                      </div>
                      <div class="c-course-card__row">
                        <div class="c-rate is-brown"><span>{{x.rating}}{% include 'partials/_star.html' %}({{ x.vote}})</span></div>
                      </div>
                    </div>
                  </div>
                </li>{% endfor %}
                {% if myCourse2 %}
                {% for y in myCourse2 %}
                <li>
                  <div class="c-course-card">
                    <div class="c-course-card__thumb"><a href="#"><img src="/media/{{ y.img }}" alt="course"><span class="c-course-card__price">{{ y.price}}<sup>đ</sup></span></a></div>
                    <div class="c-course-card__content">
                      <div class="c-course-card__row">
                        <h3 class="c-course-card__title"><a href="#">{{y.title}}</a></h3>
                      </div>
                      <div class="c-course-card__row">
                        <div class="c-rate is-brown"><span>{{y.rating}}{% include 'partials/_star.html' %}({{ y.vote}})</span></div>
                      </div>
                    </div>
                  </div>
                </li>{% endfor %}{% endif %}
                {% else %}
                <h2>Không tìm thấy khóa học<h2>
            </ul>
            {% endif %}
          </div>
          <!--end c-course-card-grid-->
          
        </div>
        <!--end c-box-content-->
      </div>
      <!--end c-box-->
    </div>
    <!--end container-->
  </div>