<div class="c-block is-small">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label">Lộ trình</span>
            học tập
          </div>
        </div>
        <div class="c-box__content">
          <div class="c-block-img"><img src="../media/{{ myLearningPath.img }}" alt="road"></div>
          <!--end c-block-img-->
        </div>
        <!--end c-box-content-->
      </div>
      <!--end c-box-->
    </div>
    <!--end container-->
  </div>