{% load static %}
<div class="l-nav">
    <div class="c-header-banner"></div>
    <!--end c-header-banner-->
    <div class="c-nav-top">
      <div class="container">
        <div class="c-nav-top__inner">
          <div class="c-nav-top__left">
            <div class="c-header-support c-dropdown-smart-hover">
              <div class="c-header-support__current"><i class="icon16-phone-call-white"></i><span>Cần hỗ trợ, Gọi ngay! 24/7</span></div>
              <div class="c-dropdown-smart">
                <div class="c-dropdown-smart__inner">
                  <ul>
                    <li class="is-flex"><a href="#"><span>Miền Bắc</span><b>+84 24-7109-6668</b></a></li>
                    <li class="is-flex"><a href="#"><span>Miền trung</span><b>...</b></a></li>
                    <li class="is-flex"><a href="#"><span>Miền nam</span><b>+84 28-710-99948</b></a></li>
                    <li class="is-flex is-primary"><a href="#"><span>Hotline lãnh đạo</span><b class="text-danger">+84 948-666-183</b></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-nav-top__right">
            <div class="c-nav-menu">
              <ul>
                <li><a href="#">TEKY-K12</a></li>
                <li><a href="#">TEKY Coding</a></li>
                <li><a href="#">TEKY Giảng viên</a></li>
                <li class="is-line-vertical"><a href="#">TEKY School</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end container-->
    </div>
    <!--end c-nav-top-->
    <div class="c-header">
      <div class="container">
        <div class="c-header-inner">
          <div class="c-header-left">
            <div class="c-logo"><a href="index.html"><img class="is-short"  src="{% static "images/logo.svg" %}" alt="logo"><img class="is-full"  src="{% static "images/logo-full.svg" %}" alt="logo"></a></div>
            <div class="c-header-course c-dropdown-smart-click">
              <div class="c-header-course__current js-dropdown-smart-btn"><img src="{% static "images/icon16-grid-white.svg" %}"><span>Khoá học</span></div>
              <div class="c-dropdown-smart is-large">
                <div class="c-dropdown-smart__inner">
                  <div class="c-menu-box">
                    <div class="c-menu-box__left">
                      <ul>
                        <li><a href="#"><img src="{% static "old_images/images/icons/icon24-home.svg" %}">Trang chủ</a></li>
                        <li><a href="#"><img src="{% static "old_images/images/icons/icon24-menu.svg" %}">Cộng đồng</a></li>
                        <li><a href="#"><img src="{% static "old_images/images/icons/icon24-folder.svg" %}">Khoá học</a></li>
                        <li><a href="#"><img src="{% static "old_images/images/icons/icon24-note.svg" %}">Dự án</a></li>
                        <li><a href="#"><img src="{% static "old_images/images/icons/icon24-money.svg" %}"></i>Giải pháp</a></li>
                      </ul>
                    </div>
                    <div class="c-menu-box__right">
                      <div class="c-menu-box__block">
                        <label><a href="#"><img src="{% static "old_images/images/icons/icon24-coding-black.svg" %}">Lập trình & Phát triển ứng dụng</a></label>
                        <ul>
                          <li><a href="#">Mầm non công nghệ</a></li>
                          <li><a href="#">Bé làm Game</a></li>
                          <li><a href="#">Siêu nhân lập trình Web</a></li>
                          <li><a href="#">Siêu nhân lập trình App</a></li>
                          <li><a href="#">Siêu nhân lập trình Game 3D & VR với Unity</a></li>
                        </ul>
                      </div>
                      <div class="c-menu-box__block">
                        <label><a href="#"><img src="{% static "old_images/images/icons/icon24-wireless-connectivity-black.svg" %}">Robot & Điện tử tự động</a></label>
                        <ul>
                          <li><a href="#">Khám phá Robotics</a></li>
                          <li><a href="#">Xưởng chế tạo Robot</a></li>
                          <li><a href="#">Thế giới vạn vật thông minh</a></li>
                        </ul>
                      </div>
                      <div class="c-menu-box__block">
                        <label><img src="{% static "old_images/images/icons/icon24-3d-black.svg" %}">3D & Truyền thông đa phương tiện</a></label>
                        <ul>
                          <li><a href="#">DIGI Girl: Stem Art</a></li>
                          <li><a href="#">DIGI Style: Multimedia</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="c-search-expand js-search-expand" type="button"><img src="{% static "old_images/images/icons/icon16-search-white.svg" %}"></button>
          </div>
          <div class="c-header-right">
            <div class="c-header-noti"><a href="#"><img src="{% static "old_images/images/icons/icon24-bell-white.svg" %}"><span class="badge badge-danger">9+</span></a></div>
            <div class="c-header-user">
              <div class="c-header-user__icon"><img src="{% static "old_images/images/icons/icon24-user-white.svg" %}"></div>
              <div class="c-header-user__text">
                <p>{% if user.is_authenticated %}Hello, {{ user.username }}.{% endif %}</p>
                <p class="is-small"><span class="h-show-pc">
                    </span><a class="text-secondary" href="{% url 'logout'%}">Logout</a><span class="h-show-pc"></span></p>
              </div>
            </div>
          </div>
          <div class="c-search-box">
            <div class="c-search-box__select">
              <div class="dropdown"><a class="btn dropdown-toggle" id="dropdownSelectSearch" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Bài viết</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdownSelectSearch"><a class="dropdown-item" href="#">Bài viết</a><a class="dropdown-item" href="#">Khoá học</a><a class="dropdown-item" href="#">Dự án</a></div>
              </div>
            </div>
            <div class="c-search-box__text">
              <input class="form-control" type="text" placeholder="Bạn muốn tìm gì?">
              <div class="c-auto-complete">
                <ul>
                  <li><a href="#">Trẻ em lập trình cơ bản tập 1</a></li>
                  <li><a href="#">Cuộc thi TEKY Young Tallent</a></li>
                  <li><a href="#">Trẻ em lập trình cơ bản tập 3</a></li>
                  <li><a href="#">Dự án hay nhất</a></li>
                  <li><a href="#">Trẻ em lập trình cơ bản tập 5</a></li>
                </ul>
              </div>
            </div>
            <div class="c-search-box__btn">
              <button type="submit"><img src="{% static "old_images/images/icons/icon16-search-white.svg"%}"></button>
            </div>
          </div>
          <div class="c-menu">
            <ul>
              <li class="active"><a href="#"><img src="{% static "old_images/images/icons/icon24-home.svg" %}"><span>Trang chủ</span></a></li>
              <li><a href="#"><img src="{% static "old_images/images/icons/icon24-menu.svg" %}"><span>Cộng đồng</span></a></li>
              <li><a href="#"><img src="{% static "old_images/images/icons/icon24-folder.svg" %}"><span>Khoá học</span></a></li>
              <li><a href="#"><img src="{% static "old_images/images/icons/icon24-note.svg" %}"><span>Dự án</span></a></li>
              <li><a href="#"><img src="{% static "old_images/images/icons/icon24-money.svg" %}"><span>Giải pháp</span></a></li>
            </ul>
          </div>
          <div class="c-header-rss">
            <div class="c-header-rss__icon"><img src="{% static "old_images/images/icons/icon-medal" %}"></div>
            <div class="c-header-rss__text">
              <p><a href="#">Cuộc thi: TEKY Young Tallent</a></p>
              <p class="is-small">
                Chỉ còn:
                <span class="text-secondary">5d, 23:08:35</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--end container-->
    </div>
    <!--end c-header-->
  </div>