<div class="c-block lwt-parent-bg">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label is-label-long">Học sinh, phụ huynh</span>
            nói về TEKY
          </div>
        </div>
      </div>
      <!-- c-box-->
    </div>
    <!-- container-->
</div>
<div class="lwt-parent-outer">
    <div class="lwt-parent-slider">
      <div class="owl-carousel js-lwt-parent">{% for x in myParent %}
        <div class="lwt-parent-item">
          <div class="lwt-parent-item__head">
            <div class="lwt-parent-item__avatar"><img src="/media/{{ x.avatar }}" alt="avatar"></div><span class="lwt-parent-item__name">{{ x.name }}</span><span class="lwt-parent-item__poi">{{ x.studentname }}</span>
          </div>
          <div class="lwt-parent-item__content">{{ x.content }}</div>
        </div>{% endfor %}
      </div>
      <!-- owl-carousel-->
    </div>
    <!-- lwt-parent-slider-->
  </div>