  <div class="c-block is-small">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label">Nền tảng</span>
            công nghệ
          </div>
        </div>
        <div class="c-box__content">
          <div class="c-technology-list">
            <ul>
              {% for x in myTechnology %}
              <li>
                <div class="b-grid">
                  <div class="b-grid__img">
                    <figure><img src="../media/{{ x.img }}" alt="technology"></figure>
                  </div>
                  <div class="b-grid__content">
                    <div class="b-grid__row">
                      <h3><b>{{ x.name}}</b></h3><br>
                      <ul>{% for y in x.technologylist.all %} 
                        <li>{{ y.content }}</li>{% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!--end c-technology-list-->
        </div>
        <!--end c-box__content-->
        {% include 'partials/_register.html'%}
      </div>
      <!--end c-box-->
    </div>
    <!--end container-->
  </div>