  <div class="c-why-head is-solution">
    <div class="container">
      <div class="c-why-head__inner">
        <div class="c-why-head__left">
          <div class="c-why-head__img" ><a class="various fancybox.iframe" rel="fancybox-video-testimonial-link" href="{{ myuploadvid.url }}"><img src="/media/{{ myuploadvid.img }}" alt="head"></a></div>
        </div>
        <div class="c-why-head__right">
          <h1 class="c-why-head__title">{{ myuploadvid.title }}</h1>
          <h2 class="c-why-head__desc">
            - Shark:
            <b>{{ myuploadvid.name }}</b>
          </h2>
          <div class="c-why-head__quote">{{ myuploadvid.quote }}</div>
          <div class="c-why-head__btn"><a class="btn btn-orange btn-lg is-shadow-solid-green" href="#" data-toggle="modal" data-target="#modalRegisterOnline">Đăng ký học thử miễn phí</a></div>
        </div>
      </div>
    </div>
    <!--end container-->
  </div>