<div class="c-block is-small">
    <div class="container">
      <div class="c-box">
        <div class="c-box__title">
          <div class="c-box__title__name"><span class="text-medium text-label">Thư viện</span>
            hình ảnh
          </div>
        </div>
        <div class="c-box__content">
          <div class="bg-shadow is-border-none is-no-padding c-course-gallery">
            <ul>{% for x in myUser %}
              <li>
                <div class="c-gallery-item"><a class="fancybox-image" rel="gallery" href=""><img src="/media/{{ x.img }}" alt="gallery"></a></div>
              </li>{% endfor %}
            </ul>
          </div>
        </div>
        <!--end c-box__content-->
      </div>
      <!--end c-box-->
    </div>
    <!--end container-->
  </div>