{% load static %}

<!DOCTYPE html>
<html lang="en">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <title>Teky LMS - Register</title>
    <!--Include CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
  </head>   
    <body class="is-black">
        <div class="l-black-bg">  
    <div class="c-bblack-outer">
        <div class="c-bblack-center is-register is-height">
        <div class="c-bblack-center__outer clearfix">
            <div class="c-bblack-center__left">
            <div class="c-login">
                <div class="c-login__top"><img src="{% static "images/teky/logo-login.png" %}"></div>
                <div class="c-login__form clearfix">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="{{message.tags}}" style="color:red">{{ message }}<p>
                    {% endfor %}
                    {% endif %}
                    <form action="{% url 'register' %}" method="POST" data-validate-username-url="{% url 'validate-username' %}">
                        {% csrf_token %}
                        <div class="form-group is-placeholder-login is-valid">
                            {{form.username}}
                            <div class="is-placeholder-login__placeholder"><b>Số điện thoại; Email </b><span>hoặc </span><b>Tên đăng nhập</b></div>
                            <div class="invalid-feedback invalid_feedback"></div>
                        </div>
                        <div class="form-group is-password is-placeholder-login is-valid">
                            {{form.password1}}
                            <div class="is-placeholder-login__placeholder"><b>Mật khẩu </b></div>
                            <button class="c-login__pass show-pass"> <i class="icon-invisible"></i></button><span class="is-err">Please provide a valid city</span>
                        </div>
                        <div class="form-group is-password is-placeholder-login is-valid">
                            {{form.password2}}
                            <div class="is-placeholder-login__placeholder"><b>Nhập lại mật khẩu </b></div>
                            <button class="c-login__pass show-pass"> <i class="icon-invisible"></i></button><span class="is-err">Please provide a valid city</span>
                            <div class="invalid_password"></div>
                        </div>
                        <div class="form-group is-password is-placeholder-login is-valid">
                            {{form.email}}
                            <div class="is-placeholder-login__placeholder"><b>Email </b></div>
                            <div class="invalid_email"></div>
                        </div>
                        <button class="btn btn-primary" type="submit"><span><center>Đăng kí</center>
                    </form>
                </div>
                <div class="c-bottom-loginall">
                <div class="c-login__bottom"><span>Made with</span><i class="icon-tim-login"></i><span>by TEKY</span></div>
                </div>
            </div>
            </div>
            <div class="c-bblack-center__right is-img-login"><img src="{% static "images/teky/login.png" %}"><span> <b>Welcome!</b></span></div>
        </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.4.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel2.thumbs.js' %}"></script>
    <script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/jquery.inview.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.scrollchaser.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
    <script src="{% static 'js/style.js' %}"></script>
    </body>
</html>